{% extends "base.html" %}
{% block title %}
    <title>Подтверждение почты</title>
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block  header %}
{% endblock %}

{% block body %}
<div class="confirm-email">
    <h2>Confirm your email address</h2>

    <p>We have sent you an email to <strong>{{ email }}</strong> for verification. Follow the link provided to finalize the signup process. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    <p><a href="{{ success_url }}">{% trans "Go back" %}</a></p>
</div>
{% endblock %}