{% extends "base.html" %}
{% block title %}
    <title>Подтверждение почты</title>
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block  header %}
{% endblock %}
{% block content %}
<div class="position-absolute top-50 start-50 translate-middle poppins-reg">
    <h1 class="text-center text-uppercase mursgothic mb-3">Подтвердите вашу почту</h1>
    <p class="text-center mb-4">Вам было отправлено письмо на почту, пожалуйста пройдите в нее и завершите регистрацию.</p>
    <p class="text-center text-muted">Если вы не нашли письмо, то просим посмотреть папку "спам"</p>
</div>
{% endblock %}
{% block  footer %}
{% endblock %}