{% extends "base.html" %}
{% block title %}
    <title>Подтверждение почты</title>
{% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block  header %}
{% endblock %}
{% block  content %}
<div class="container">
    {% if form.errors %}
      <p>ОШИБКА</p>
    {% endif %}

    {% else %}
        <p class="h2 text-center">ПОДТВЕРДИТЬ ПОЧТУ</p>
        <form 
            action="{% url "account_login" %}" 
            method="post" 
            id="login-form"
            class="mb-3"
        >
            {% csrf_token %}
            {{ form }}
        </form>
        <div class="password-reset-link text-center">
            <a href="{% url 'account_password_reset' %}">Забыли свой пароль?</a>
        </div>
    {% endif %}
</div>
{% endblock %}