.card-review {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    height: 450px;
}

.card-review video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-text-content {
    align-items: center;
}

.card-text-content p {
    margin: 5px 0 0;
}

.card-image-review {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-text-review {
    height: 5em;
    display: flex;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.card-text-content h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.card-text-content p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    color: #666;
}

@media(min-width: 576px) {
    .card-review {
        height: 550px;
    }
}

@media(min-width: 768px) {
    .card-review {
        height: 800px;
    }
}

@media(min-width: 975px) {
    .card-review {
        height: 550px;
    }
}

.controls-box {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px 15px 15px 15px;
}

.play-btn {
    font-size: 1.5rem;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.play-btn:hover {
    color: #00abd6;
}

.progress-container {
    flex-grow: 1;
    height: 5px;
    background-color: #444;
    border-radius: 5px;
    margin: 0 10px;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #00abd6;
    border-radius: 5px;
    transition: width 0.1s linear;
}

.speed-container {
    display: flex;
    align-items: center;
}

.speed-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.speed-text:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.play-btn-container-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn-video {
    font-size: 2.5rem;
    padding: 20px;
    border: none;
    color: rgba(255, 255, 255, 0.9); 
    background-color: rgba(64, 64, 64, 0.8); 
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
}

.play-btn-video::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 70%);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    border-radius: 50%;
}

.play-btn-video:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.play-btn-video:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.play-btn-video.playing i {
    transform: scale(1); 
}



.video-block {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.video-block__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.text-reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.text-reviews__item {
    width: 360px;
    height: 295px;
    background: #EBF5D6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px 25px;
}
.text-reviews__title {
    font-size: 23px;
    font-weight: bold;
}
.text-reviews__body {
    line-height: 1.7;
}