<div id="reviews">
    <div class="container poppins-reg py-5">
        <div class="mt-5">
            <strong class="text-uppercase mursgothic">
                <h1 class="text-lg-start text-md-start text-sm-center text-center">
                    <p>Отзывы о сервисе</p>
                </h1>
            </strong>
        </div>
        <div class="video-block w-100 my-5 mx-auto justify-content-center">
            <div class="video-block__items">
                {% if reviews is none or reviews|length == 0 %}
                    <p><strong>Отзывы не найдены</strong></p>
                {% endif %}
                {% for review in reviews %}
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-4 justify-content-center">
                        <div class="mt-2">
                            {% if review.is_video %}
                                {% include "video_card.html" with review=review %}
                            {% elif review.is_audio %}
                                {% include "audio_card.html" with review=review %}
                            {% endif %}
                        </div>
                        {% load p_home %}

                        <div class="card-text-review px-4 py-2 background-blue">

                            <div class="card-text-content">
                                <h6 class="my-0">
                                    <strong >{{ review.from_client }}</strong>
                                </h6>
                            </div>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
            
            <div class="text-reviews">
                <div class="text-reviews__item col-lg-4 col-md-12 col-sm-12 col-12 mb-4">
                    <div class="text-reviews__title poppins-reg">
                        Гульназ, мама двоих детей
                    </div>
                    <div class="text-reviews__body">
                        Очень удобно пользоваться сервисом  – фильтры помогают быстро подобрать подходящего кандидата. Нашли с мужем замечательную няню всего за пару дней! Теперь я спокойна, когда оставляю ребенка под её присмотром.
                    </div>
                </div>
                <div class="text-reviews__item col-lg-4 col-md-12 col-sm-12 col-12 mb-4">
                    <div class="text-reviews__title poppins-reg">
                        Гульназ, мама двоих детей
                    </div>
                    <div class="text-reviews__body">
                        Очень удобно пользоваться сервисом  – фильтры помогают быстро подобрать подходящего кандидата. Нашли с мужем замечательную няню всего за пару дней! Теперь я спокойна, когда оставляю ребенка под её присмотром.
                    </div>
                </div>
                <div class="text-reviews__item col-lg-4 col-md-12 col-sm-12 col-12 mb-4">
                    <div class="text-reviews__title poppins-reg">
                        Гульназ, мама двоих детей
                    </div>
                    <div class="text-reviews__body">
                        Очень удобно пользоваться сервисом  – фильтры помогают быстро подобрать подходящего кандидата. Нашли с мужем замечательную няню всего за пару дней! Теперь я спокойна, когда оставляю ребенка под её присмотром.
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% load static %}
    <script src="{% static 'js/review.js' %}"></script>
</div>