<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>Аггрегатор нянь</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    {% load django_bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block style %}{% endblock %}
    {% block js %}{% endblock %}
  </head>

  <body>
    <div id="content">
      {% block header %}{% include "header.html" %}{% endblock %}
      {% block content %}{% endblock %}
      {% block footer %}{% include "footer.html" %}{% endblock %}
    </div>
  </body>
</html>