<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    {% block title %}<title>Сервис по поиску нянь</title>{% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta name="format-detection" content="telephone=no">
    {% block og %}
      <meta property="og:url" content="{{ og_url }}" />
      <meta property="og:locale" content="ru_RU" />
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="Сервис по поиску нянь"/>
      <meta property="og:title" content="Сервис для поиска опытных нянь для вашего ребёнка"/>
      <meta property="og:description" content="Быстрый и безопасный поиск нянь для вашего ребёнка" />
      <meta property="og:image" content="{{ og_image }}"/>
      <meta property="og:image:alt" content="Няня и родитель" />
      <meta property="og:image:type" content="image/jpeg" />
      <meta property="og:image:width" content="1200"/>
      <meta property="og:image:height" content="630"/>
      <meta name="twitter:image" content="{{ og_image }}" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content="Сервис для поиска опытных нянь для вашего ребёнка"/>
      <meta name="twitter:site" content="@servicenanny"/>
      <meta name="twitter:description" content="Быстрый и безопасный поиск нянь для вашего ребёнка"/>
      <meta property="vk:image" content="{{ og_image }}"/>
      <link rel="image_src" href="{{ og_image }}" />
    {% endblock %}
    {% load django_bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block fonts %}      <style>
        @font-face {
          font-family: Poppins-Regular;
          src: local('Poppins-Regular'),
            url({%  static 'fonts/Poppins-Regular.ttf' %}) format('truetype');
        }
        @font-face {
          font-family: Poppins-SemiBold;
          src: url({%  static 'fonts/Poppins-SemiBold.ttf' %}) format('truetype');
        }
        @font-face {
          font-family: MursGothic-WideDark;
          src: url({%  static 'fonts/MursGothic-WideDark.otf' %}) format('opentype');
        }
      </style>
    {% endblock %}
    {% block style %}{% endblock %}
    {% block js %}{% endblock %}
    {% block metrica %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(98887342, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/98887342" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% endblock %}
  </head>

  <body>
    <div id="content">
      {% block header %}{% include "header.html" %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
    {% block footer %}{% include "footer.html" %}{% endblock %}
  </body>
</html>