<footer class="text-center text-lg-start background-blue text-muted border-top">
    <section class="border-bottom">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 mb-4 align-self-start">
                    <h6 class="mb-4">Навигация по сайту</h6>
                    <p>
                        <a href="#directions" class="text-reset text-decoration-none">
                            <strong>О сервисе</strong>
                        </a>
                    </p>
                    <p>
                        <a href="#feedback" class="text-reset text-decoration-none">
                            <strong>Зарегистрироваться</strong>
                        </a>
                    </p>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 mb-md-0 mb-4 align-self-start">
                    <h6 class="mb-4">Контакты</h6>
                    <p>
                        <a href="tel:+79999999999" class="text-reset text-decoration-none">
                            <strong>+7(999)999-99-99</strong>
                        </a>
                    </p>
                    <p>
                        <adress>
                            <a 
                                href="https://wa.me/79179096969?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9F%D0%B8%D1%88%D1%83%20%D1%81%20%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D1%81%D0%B0%20%D0%BD%D1%8F%D0%BD%D1%8C%2C%20%D1%83%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B2%D0%BE%D0%B7%D0%BD%D0%B8%D0%BA%20%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%3A" 
                                class="text-reset text-decoration-none"
                            >
                                <strong>Отдел заботы</strong>
                            </a>
                        </adress>
                    </p>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-12 ms-md-auto mb-4 text-muted">
                    <div class="m-auto">
                        <br />
                        <span>ИП Муртазина Снежана Валерьевна</span>
                        <span>ИНН: 210324399274</span>
                        <span>ОГРНИП: 323169000065417</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <section class="container py-3">
        <div class="row w-100 m-0">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 mb-4 align-self-start">
                <a href="{{ MEDIA_URL }}{{ privacy_policy.file }}" class="text-doc text-decoration-none">Политика конфиденциальности</a>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 mb-4 align-self-start">
                <a href="{{ MEDIA_URL }}{{ privacy_policy.file }}" class="text-doc text-decoration-none">Договор оферты</a>
            </div>
        </div>
    </section>
</footer>