<header class="py-3 mb-4 container poppins-reg">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="d-sm-block d-collapse-none">
                {% if not user.is_authenticated  %}
                    <div id="registration-block">
                        <a href="{% url 'account_login' %}" class="text-decoration-none">
                            <button class="registration-white btn py-2 px-5">Войти</button>
                        </a>
                    </div>
                {% else %}
                    {% load static %}
                    <div class="rounded-3 bg-white w-lg-20 w-md-25 w-sm-50 text-center mx-lg-0 mx-md-0 mx-sm-auto py-1 px-3">
                        <img src={% static 'img/fire.svg' %} /> Дней осталось: <strong>{% if end_range is defined %}{{ end_range }}{% endif %}</strong>
                    </div>    
                {% endif %}
            </div>
            <button 
                class="navbar-toggler d-lg-none bg-white"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-expanded="false" 
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close btn-close-white text-reset px-4" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="justify-content navbar-collapse">
                        <ul class="navbar-nav justify-content-between w-lg-35 w-md-50 w-sm-100">
                            <li class="nav-item mb-2">
                                <a href="{% url 'home' %}" class="text-decoration-none {{text_color}}">О приложении</a>
                            </li>
                            <li class="nav-item mb-2"><a href="#" class="text-decoration-none {{text_color}}">Города</a></li>
                            <li class="nav-item mb-2"><a href="{% url 'nannies' %}" class="text-decoration-none {{text_color}}">Няням</a></li>
                        </ul>
                    </div>
                    <div class="d-collapse-block d-none">
                        {% if not user.is_authenticated  %}
                            <div id="registration-block">
                                <a href="{% url 'account_login' %}" class="text-decoration-none">
                                    <button class="registration-white btn py-2 px-5">Войти</button>
                                </a>
                            </div>
                        {% else %}
                            {% load static %}
                            <div class="rounded-3 bg-white w-lg-20 w-md-25 w-sm-50 text-center mx-lg-0 mx-md-0 mx-sm-auto py-1 px-3">
                                <img src={% static 'img/fire.svg' %} /> Дней осталось: <strong>{% if end_range is defined %}{{ end_range }}{% endif %}</strong>
                            </div>    
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>