{% extends "base.html" %}
{% block title %}
<title>Регистрация нянь</title>
{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'css/header.css' %}" />
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}
{% block header %}
{% include "header_yellow.html" with text_color='text-dark' %}
{% endblock %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center text-uppercase mb-5 w-100 mursgothic py-3">
        <strong>
            <p class="mb-0">Личная</p>
            <p class="mb-0">информация</p>
        </strong>
    </h1>
    <form action="." method="POST">
        {% csrf_token %}
        <div class="row no-gutters">
            <div class="col-4 px-0">
                <div class="row py-2">
                    <label class="mb-2">Ваше имя</label>
                    <p class="input-control" placeholder="Татьяна" type="text">{{ form.user_form.first_name }}</p>
                </div>
                <div class="row py-2">
                    <label class="mb-2">Ваша фамилия</label>
                    <p class="input-control" placeholder="Иванова" type="text">{{ form.user_form.last_name }}</p>
                </div>
                <div class="row py-2">
                    <label class="mb-2">Ваш номер телефона</label>
                    <p class="input-control" placeholder="+7 999 999 99 99" type="text">{{ form.nanny_form.phone_number }}</p>
                </div>
                <div class="row py-2">
                    <label class="mb-2">Ваш возраст</label>
                    <p class="input-control" placeholder="69 лет" type="text">{{ form.nanny_form.age }}</p>
                </div>
                <div class="row py-2">
                    <label class="mb-2">Опыт работы</label>
                    <p class="input-control" placeholder="10 лет" type="text">{{ form.nanny_form.experience }}</p>
                </div>
                <div class="row py-2">
                    <label class="mb-2">Ставка в час</label>
                    <p class="input-control" placeholder="от 450" type="text">{{ form.nanny_form.cost_per_hour }}</p>
                </div>
            </div>
            <div class="col-8 px-5">
                <div class="row py-2">
                    <label class="mb-2">Расскажите о себе</label>
                    <p class="input-control" placeholder="Работаю с детьми от 3 лет..." type="text">{{ form.nanny_form.describe }}</p>
                </div>
                <div class="row py-2">
                    <label class="mb-2">Что вы умеете</label>
                    <p class="input-control" placeholder="Ваши навыки" type="text">{{ form.nanny_form.skills }}</p>
                </div>
                <div class="row py-2">
                    <label class="mb-2">График работы</label>
                    {% for value, text in form.nanny_form.work_days.field.choices %}
                        <div class="ui slider checkbox">
                            <input id="id_providers_{{ forloop.counter0 }}" name="{{ form.nanny_form.work_days.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                            <label>{{ text }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-yellow py-2 w-lg-25 w-100 gy-2">Сохранить изменения</button>
        </div>
    </form>
</div>
{% endblock %}